<div class="forms_margin_top"
     [ngSwitch]="RegisterClick">
  <form
      #addUserForm='ngForm'
      (ngSubmit)="addUser(addUserForm)"
      *ngSwitchCase=true>

    Firstname:
    <input type="text" name="firstname"
           placeholder="enter your first name"
           [(ngModel)]=User.firstname>
    <br>
    E-mail:
    <input type="email" name="email"
           placeholder="enter your e-mail"
           [(ngModel)]=User.email email>

    <br>
    Login:
    <input type="login" name="login"
           placeholder="enter your login"
           [(ngModel)]=User.login>
    <br>
    Password
    <input type="password" name="password"
           placeholder="enter password"
           [(ngModel)]=User.password>
    <br>
    <input [disabled]="!addUserForm.valid"
           type="submit"
           value="Register now">

  </form>
</div>
