<h1> Lun test project </h1>

<app-search>
  [Value] = "Value"
</app-search>
<br>

<div>
  <button (click)="loginButton()" class="buttons_margin_top">Login</button>
  <button (click)="registerButton()" class="buttons_margin_top">Register new User</button>
  <button (click)="create_house()" class="buttons_margin_top">Create new House</button>


  <div class="users_style"
       *ngFor="let house of Houses"
       [ngClass]="randomBlocked? 'user-ok':'user-blocked'">

    city: {{house.city}}
    <br>
    user-holder: {{house.user.firstname | json}}
    <br>
    user-holder: {{house.user.isblocked | json}}

    <button (click)="show_more(house.id)"> show more</button>

    <div *ngIf="house_index === house.id && all_inf"
         class="show_more">
      street: {{house.street}}
      <br>
      rooms: {{house.rooms}}
      <br>
      price: {{house.price}}
      <hr>
    </div>
  </div>

  <!--  В минулій ДЗ у вас були будиночки, які ви ітерували.-->
  <!--  До цих будиночків потрібно додати власника.-->
  <!--  Зробити масив з юзерів з стандартними полями юзера та полем is_blocked: boolean-->
  <!--  Тепер до будиночку додати власника, який буде один з юзерів з того масиву.-->
  <!--  Тепер коли ітеруєте масив будиночків відображаєте часткову інформацію про будинок. І додати кнопку show full info, яка буде відображати повну інформацію про будинок разом з власником.-->
  <!--  Якщо власник заблокований, то будинок обмальовувати червоним кольором.-->

  <!--  Далі зробити форму реєстраціх і логінації юзера.-->
  <!--  Реєструвати юзера і додавати його в масив з юзерами. Обовязково малідувати поля юзера за допомогою валідаторів форми і давати юзеру знати, яке поле заповнене не вірно. is_blocekd має бути рандомно.-->
  <!--  Логінація юзера. Якщо юзера з таким логіном і паролем знайдено, но видавати повідомлення Welcome. Якщо ні, то user is not found.-->

  <!--  Стоврення будиночку.-->
  <!--  Так само створювати як і юзера. Всі валідації мають бути присутні.-->
  <!--  Власника вибираємо рандомного  з вже існуючих юзерів в масиві users.-->
